# Android / Gradle
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.jks
*.keystore

# APK outputs
app/build/outputs/

# GitHub Actions temp keys
app/suiting-release.jks
